.card {
  border: 1px solid #06d6a2;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #efefef;
  color: #000;
  position: relative;

  &.active {
    background-color: #fff;
  }

  .img {
    position: absolute;
    right: -20px;
    top: -16px;
    z-index: 1;
  }

  p {
    font-weight: 600;
    text-align: center;
  }
}
