.card {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0.5rem;
  border: 1px solid #e4e1e1;
  padding: 1rem;
  margin: 0 auto;
  position: relative;

  .avatar {
    align-self: center;
    padding-right: 0.5rem;

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }

  .details {
    border-right: 1px solid #e4e1e1;
    border-left: 1px solid #e4e1e1;
    padding: 0 1rem;

    hr {
      border: 1px solid #e4e1e1;
    }

    .detailsDescription {
      display: flex;
      justify-content: space-between;
    }
  }

  .score {
    border: 1px solid #e4e1e1;

    .title {
      background-color: #efefef;
      h2 {
        margin: 0;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #e4e1e1;
      }
    }

    .number {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #06d6a2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem auto;

      p {
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }

  .badge {
    width: 60px;
    height: 60px;
    background-color: #efefef;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);

    img {
      width: 20px;
      height: 20px;
      padding: 0.35rem;
    }
  }
}
