nav.nav {
  padding: 0.5rem 0;
  ul {
    display: flex;
    gap: 2rem;
    align-items: center;

    li {
      &:nth-child(3) {
        margin-right: 3rem;
      }
    }

    a,
    li {
      color: #000;
    }

    a {
      display: block;
    }

    a:hover {
      color: #008967;
    }

    .active {
      background-color: #008967;
      padding: 1rem;
      border-radius: 8px;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }
}
