.wrapper {
  max-width: 580px;
  margin: 0 auto;
  border: 2px solid #efefef;
  border-radius: 8px;

  h1 {
    margin: 0;
    border-bottom: 2px solid #efefef;
    padding: 1rem;
  }

  .result {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;

    .avatar {
      align-self: center;
      justify-self: center;
      img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
      }
    }
    .details {
      border-left: 2px solid #efefef;
      padding: 1rem;
    }
  }
}
