.app {
  // background-color: red;
  max-width: 780px;
  margin: 0 auto;
  padding: 2rem 0;

  .page {
    margin-top: 3rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
